@model IEnumerable<MVC_School.Models.CourseHasStudent>

@{
    ViewData["Title"] = "Grades";
    Layout = "~/Views/Shared/_LayoutStudent.cshtml";    
}

<h1>Grades by title</h1>

<table class="table">
    <thead>
        <tr align="center">
            <th>
                @Html.DisplayNameFor(model => model.CourseIdCourseNavigation.CourseTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseIdCourseNavigation.CourseSemester)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseIdCourseNavigation.ProfessorsAfmNavigation.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GradeCourseStudent)

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr align="center">
                <td>
                    @Html.DisplayFor(modelItem => item.CourseIdCourseNavigation.CourseTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseIdCourseNavigation.CourseSemester)° semester
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseIdCourseNavigation.ProfessorsAfmNavigation.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GradeCourseStudent)
                    @if (item.GradeCourseStudent.Equals(null))
                    {
                        ViewData["null"] = "-";
                        @ViewData["null"]
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
